{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if post.paperurl and post.preprinturl %}
      <p class = "archive__item-excerpt" itemprop="description">{{ post.citation }}
      <a href="{{ post.paperurl }}" rel="permalink">[paper]</a>
      <a href="{{ post.preprinturl }}" rel="permalink">[pre-print]</a>
      <a href="{{ post.url }}" rel="permalink">[more info]</a></p>
    {% elsif post.paperufl and !post.preprinturl %}
      <p class = "archive__item-excerpt" itemprop="description">{{ post.citation }}
      <a href="{{ post.paperurl }}" rel="permalink">[paper]</a>
      <a href="{{ post.url }}" rel="permalink">[more info]</a></p>
    {% elsif !post.paperufl and post.preprinturl %}
      <p class = "archive__item-excerpt" itemprop="description">{{ post.citation }}
      <a href="{{ post.preprinturl }}" rel="permalink">[preprint]</a>
      <a href="{{ post.url }}" rel="permalink">[more info]</a></p>
    {% else %}
      <p class = "archive__item-excerpt" itemprop="description">{{ post.citation }}  
      <a href="{{ base_path }}{{post.url }}" rel="permalink">[More info]</a> </p>
    {% endif %}
 </article>
</div>
