{% include base_path %}


{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.paperurl and post.preprinturl %}
        <p class = "archive__item-excerpt" itemprop="description">{{ post.citation }} <br>
        <a href="{{ post.paperurl }}" rel="permalink">[paper]</a>
        <a href="{{ post.preprinturl }}" rel="permalink">[pre-print]</a>
        <a href="{{ post.url }}" rel="permalink">[more info]</a></p>
      {% elsif post.paperurl %}
        <p class = "archive__item-excerpt" itemprop="description">{{ post.citation }}<br>
        <a href = "{{ post.paperurl }}" rel="permalink">[paper]</a>
        <a href="{{ post.url }}" rel="permalink">[more info]</a></p>
      {% elsif post.preprinturl %}
        <p class = "archive__item-excerpt" itemprop="description">{{ post.citation }}<br>
        <a href="{{ post.preprinturl }}" rel="permalink">[preprint]</a>
        <a href="{{ post.url }}" rel="permalink">[more info]</a></p>
      {% else %}
        <p class = "archive__item-excerpt" itemprop="description">{{ post.citation }}<br>
        <a href="{{ base_path }}{{post.url }}" rel="permalink">[more info]</a> </p>
      {% endif %}
    </h3>
 </article>
</div>


<!--
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% elsif post.note != 'in-preparation' %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% else %}
        {{ title }} 
      {% endif %}
    </h3>
    <p class="archive__item-excerpt" itemprop="description">{{ post.citation }}</p>
 </article>
</div>
-->
